/* цветовые переменные */
:root {
  --text-color: #7b5858;
  --text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.text {
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rounded {
  border-radius: 30px;
}

.shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.ProfileWrapper {
  composes: center;
  padding: 20px;
}

.Description {
  text-align: center;
}

.Avatar {
  composes: center rounded;
  margin-bottom: 20px;
  padding: 20px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  background-color: #fff;
}

.Name {
  composes: text;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.Tag {
  composes: text;
  font-size: 20px;
  margin-bottom: 10px;
}

.Location {
  composes: text;
  font-size: 20px;
  margin-bottom: 30px;
}

.Stats {
  composes: flex;
}

.StatsItem {
  text-align: center;
}

.Label {
  composes: text;
  font-size: 18px;
}

.Quantity {
  font-size: 16px;
  font-weight: bold;
  text-shadow: var(--text-shadow);
}
